{% extends 'header-doctor.html'%}
{% load static %}
{% block content %}

<style>
  table {
  counter-reset: 0;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
</style>


      <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
          <div class="content-wrapper"><div class="row">
  <div class="col-12">
    <div class="content-header"></div>
  </div>
</div>

<!--Striped rows Inverse Starts-->
<section id="striped-inverse">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            <!-- <marquee style="color: crimson;">WELCOM TO CLINIC: MR/MISS- "{{uid.name}}" </marquee> -->
        <marquee style="color: crimson;">"{{doc_profile.name}}"--(your booked appointments)</marquee>


          <h4 class="card-title">View-booked appointments</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table  table-white">
              <thead>
                <tr>
                  <th>NO</th>
                  
                  <th>patient</th>
                  <th>weeks</th>
                  <th>Time Slot</th>
                  <th>decription</th>
                  <th>DATE</th>

                  <th>action</th>
                  <th>status</th>


                </tr>
              </thead>
              <tbody>
                <tr>
                  
                  {% for app in app2 %}
                  <td></td>
                     
                  {% if app.date == day %}
                  <td style="color:rgb(6, 250, 6)">{{app.patient_name}} </td>
                  {% elif app.date > day %}
                  <td style="color: blue">{{app.patient_name}}</td>
                  {% elif app.date < day %}
                  <td style="color:darkslategray">{{app.patient_name}}</td>
                  {% endif %}

                  {% if app.date == day %}
                  {% if app.slot.weekslot == 1 %}
                  <td style="color:rgb(6, 250, 6)">Monday</td>
                  {% elif app.slot.weekslot == 2 %}
                  <td style="color:rgb(6, 250, 6)">Tuesday</td>
                  {% elif app.slot.weekslot == 3 %}
                  <td style="color:rgb(6, 250, 6)">Wednesday</td>
                  {% elif app.slot.weekslot == 4 %}
                  <td style="color:rgb(6, 250, 6)">Thursday</td>
                  {% elif app.slot.weekslot == 5 %}
                  <td style="color:rgb(6, 250, 6)">Friday</td>
                  {% elif app.slot.weekslot == 6 %}
                  <td style="color:rgb(6, 250, 6)">Saturday</td>
                  {% else %}
                  <td style="color:rgb(6, 250, 6)">Sunday</td>
                  {% endif %}

                  {% elif app.date > day %}
                  {% if app.slot.weekslot == 1 %}
                  <td style="color: blue">Monday</td>
                  {% elif app.slot.weekslot == 2 %}
                  <td style="color: blue">Tuesday</td>
                  {% elif app.slot.weekslot == 3 %}
                  <td style="color: blue">Wednesday</td>
                  {% elif app.slot.weekslot == 4 %}
                  <td style="color: blue">Thursday</td>
                  {% elif app.slot.weekslot == 5 %}
                  <td style="color: blue">Friday</td>
                  {% elif app.slot.weekslot == 6 %}
                  <td style="color: blue">Saturday</td>
                  {% else %}
                  <td style="color: blue">Sunday</td>
                  {% endif %}

                  {% elif app.date < day %}
                  {% if app.slot.weekslot == 1 %}
                  <td style="color:darkslategray">Monday</td>
                  {% elif app.slot.weekslot == 2 %}
                  <td style="color:darkslategray">Tuesday</td>
                  {% elif app.slot.weekslot == 3 %}
                  <td style="color:darkslategray">Wednesday</td>
                  {% elif app.slot.weekslot == 4 %}
                  <td style="color:darkslategray">Thursday</td>
                  {% elif app.slot.weekslot == 5 %}
                  <td style="color:darkslategray">Friday</td>
                  {% elif app.slot.weekslot == 6 %}
                  <td style="color:darkslategray">Saturday</td>
                  {% else %}
                  <td>Sunday</td>
                  {% endif %}
                  {% endif %}

                 


                  {% if app.date == day %}
                  {% if app.slot.timeslot == 1 %}
                  <td style="color:rgb(6, 250, 6)">10:00 am TO 11:00 am</td>
                  {% elif app.slot.timeslot == 2 %}
                  <td style="color:rgb(6, 250, 6)">11:00 am To 12:00 pm</td>
                  {% elif app.slot.timeslot == 3 %}
                  <td style="color:rgb(6, 250, 6)">12:00 pm To 01:00 pm</td>
                  {% elif app.slot.timeslot == 4 %}
                  <td style="color:rgb(6, 250, 6)">01:00 pm To 02:00 pm</td>
                  {% elif app.slot.timeslot == 5 %}
                  <td style="color:rgb(6, 250, 6)">02:00 pm To 03:00 pm</td>
                  {% elif app.slot.timeslot == 6 %}
                  <td style="color:rgb(6, 250, 6)">03:00 pm To 04:00 pm</td>
                  {% elif app.slot.timeslot == 7 %}
                  <td style="color:rgb(6, 250, 6)">04:00 pm To 05:00 pm</td>
                  {% endif %}
                  {% elif app.date > day %}
                  {% if app.slot.timeslot == 1 %}
                  <td style="color: blue">10:00 am TO 11:00 am</td>
                  {% elif app.slot.timeslot == 2 %}
                  <td style="color: blue">11:00 am To 12:00 pm</td>
                  {% elif app.slot.timeslot == 3 %}
                  <td style="color: blue">12:00 pm To 01:00 pm</td>
                  {% elif app.slot.timeslot == 4 %}
                  <td style="color: blue">01:00 pm To 02:00 pm</td>
                  {% elif app.slot.timeslot == 5 %}
                  <td style="color: blue">02:00 pm To 03:00 pm</td>
                  {% elif app.slot.timeslot == 6 %}
                  <td style="color: blue">03:00 pm To 04:00 pm</td>
                  {% elif app.slot.timeslot == 7 %}
                  <td style="color: blue">04:00 pm To 05:00 pm</td>
                  {% endif %}
                  {% elif app.date < day %}
                  {% if app.slot.timeslot == 1 %}
                  <td style="color:darkslategray">10:00 am TO 11:00 am</td>
                  {% elif app.slot.timeslot == 2 %}
                  <td style="color:darkslategray">11:00 am To 12:00 pm</td>
                  {% elif app.slot.timeslot == 3 %}
                  <td style="color:darkslategray">12:00 pm To 01:00 pm</td>
                  {% elif app.slot.timeslot == 4 %}
                  <td style="color:darkslategray">01:00 pm To 02:00 pm</td>
                  {% elif app.slot.timeslot == 5 %}
                  <td style="color:darkslategray">02:00 pm To 03:00 pm</td>
                  {% elif app.slot.timeslot == 6 %}
                  <td style="color:darkslategray">03:00 pm To 04:00 pm</td>
                  {% elif app.slot.timeslot == 7 %}
                  <td style="color:darkslategray">04:00 pm To 05:00 pm</td>
                  {% endif %}
                  {% endif %}
                 
                  
              
                  {% if app.date == day %}
                  <td style="color:rgb(6, 250, 6)">{{app.decription}} </td>
                  {% elif app.date > day %}
                  <td style="color: blue">{{app.decription}}</td>
                  {% elif app.date < day %}
                  <td style="color:darkslategray">{{app.decription}}</td>
                  {% endif %}
                  

                  {% if app.date == day %}
                  <td style="color:rgb(6, 250, 6)">{{app.date}} </td>
                  {% elif app.date > day %}
                  <td style="color: blue">{{app.date}}</td>
                  {% elif app.date < day %}
                  <td style="color:darkslategray">{{app.date}}</td>
                  {% endif %}

                  <td>
                    <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuIconButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
                            <a class="dropdown-item" href="{% url 'status-complete' app.id %}" style="color: green;" >Completed</a>
                            <a class="dropdown-item" href="{% url 'status-absent' app.id %}" style="color: red;">Absent</a>
                            <a class="dropdown-item" href="{% url 'status-cancel' app.id %}" style="color: orchid">Cancelled</a>
                            <div class="dropdown-divider"></div>
                          </div>
                        </div>
                  </td>
                  {% if app.status == 0 %}
                  <td>
                    <a class="btn white btn-round btn-primary">Pending</a>
                  </td>
                  {% elif app.status == 1 %}
                  <td>
                    <a class="btn white btn-round btn-success">Completed</a>
                  </td>
                  {% elif app.status == 2 %}
                  <td>
                    <a class="btn white btn-round btn-danger">Absent</a>
                  </td>
                  {% elif app.status == 3 %}
                  <td>
                    <a class="btn white btn-round btn-danger">Cancelled</a>
                  </td>
                  {% endif %}
                </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Striped rows Inverse Ends-->
          </div>
        </div>
       <br>
{% endblock %}